<p>
  <span class="text-muted">{{specKey}}:</span>
  {{#if isEditing}}
    {{ input value=specValue class="form-control" focus-out="saveContent" insert-newline="saveContent" }}
  {{else}}
    <span>{{specValue}} {{unit}}</span>
  {{/if}}
</p>