<ul class="list-unstyled">
  {{#each listing in model}}
    {{#link-to 'listing' listing class="listing-list-item-link"}}
      <li class="listing-list-item">
        <h4>{{listing.bedrooms}} bedroom, {{listing.furnishingState}}</h4>
        <p>{{listing.buildUpArea}} sq.ft. {{listing.propertyType}} in {{listing.area}}</p>
        <p>Rs. {{listing.price}}</p>
      </li>
    {{/link-to}}
  {{/each}}
</ul>